<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array/>
			<key>ConfigurationProfilePayload</key>
			<dict>
				<key>Description</key>
				<string></string>
				<key>Domain</key>
				<string></string>
				<key>Lookup</key>
				<string></string>
				<key>Name</key>
				<string></string>
				<key>System</key>
				<false/>
				<key>Type</key>
				<string></string>
				<key>User</key>
				<false/>
				<key>Versions</key>
				<array>
					<string></string>
				</array>
			</dict>
			<key>Description</key>
			<string>test desc</string>
			<key>Domain</key>
			<string></string>
			<key>File</key>
			<dict>
				<key>Path</key>
				<string></string>
				<key>Pattern</key>
				<string></string>
				<key>Value</key>
				<string></string>
			</dict>
			<key>Lookup</key>
			<string></string>
			<key>MCX</key>
			<dict>
				<key>Description</key>
				<string></string>
				<key>Domain</key>
				<string></string>
				<key>Lookup</key>
				<string></string>
				<key>Name</key>
				<string></string>
				<key>System</key>
				<false/>
				<key>Type</key>
				<string></string>
				<key>User</key>
				<false/>
			</dict>
			<key>Name</key>
			<string></string>
			<key>Plist</key>
			<dict>
				<key>Description</key>
				<string></string>
				<key>Domain</key>
				<string></string>
				<key>Lookup</key>
				<string></string>
				<key>Name</key>
				<string></string>
				<key>System</key>
				<false/>
				<key>Type</key>
				<string></string>
				<key>User</key>
				<false/>
			</dict>
			<key>Script</key>
			<dict>
				<key>Check</key>
				<string></string>
				<key>Set</key>
				<string></string>
				<key>Unset</key>
				<string></string>
			</dict>
			<key>System</key>
			<false/>
			<key>Type</key>
			<string></string>
			<key>User</key>
			<false/>
			<key>Versions</key>
			<array>
				<string></string>
			</array>
		</dict>
	</array>
</dict>
</plist>
