<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<string>ChildrenValue</string>
	<key>dictionary</key>
	<dict>
		<key>child1</key>
		<string>barnett</string>
		<key>child2</key>
		<string>barn2</string>
	</dict>
	<key>lastkey</key>
	<string>lastkey value</string>
	<key>nextkey</key>
	<string>nextkey value</string>
</dict>
</plist>
